.note {
  width: 80%;
  padding: 10px;
  margin: 1em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s ease;
}

.note input[type='text'],
.note textarea {
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.note input[type='text'] {
  width: 73%;
  margin-top: 5px;
  font-size: 1em;
  font-style: italic;
}
.note textarea {
  width: 100%;
  height: 5em;
  font-size: 0.9em;
}

.note input[type='color'] {
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 35px;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.note input[type='color']::-webkit-color-swatch {
  border-radius: 2px;
  border: none;
}
.note input[type='color']::-moz-color-swatch {
  border-radius: 2px;
  border: 1px solid black;
}

.note .delete-note {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: fill 0.5s, background-color 0.5s;
}

.note .delete-note svg {
  width: 20px;
  height: 20px;
}

.note .delete-note svg:hover {
  fill: red;
  background-color: white;
  border-radius: 50%;
}
