@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.forecast-container,
.main-content,
.options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options {
}

.app-container {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.place {
  display: grid;
  grid-template-rows: 4fr repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.place-name {
  font-size: 3em;
}
.now-info {
  display: grid;
  grid-template-rows: 4fr repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.now-weather {
  display: flex;
}
.temp-api {
  font-size: 3em;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Espacio entre las tarjetas */
  width: 80%;
  padding: 20px;
}

.forecast-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s; /* Animación suave al hacer hover */
}

.forecast-card:hover {
  transform: scale(1.05); /* Efecto de agrandamiento al hacer hover */
}

.forecast-card h3 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #333;
}

.forecast-card img {
  width: 50px; /* Tamaño del icono */
  height: 50px;
  margin: 10px 0;
}

.forecast-card p {
  margin: 5px 0;
  color: #666;
}
